<h1>Welcome#index</h1>
<p><%= link_to 'Станции', railway_stations_path %></p>
<p><%= link_to 'Поезда', trains_path %></p>
<p><%= link_to 'Вагоны', coaches_path %></p>
<p><%= link_to 'Маршруты', routes_path %></p>
